{% extends "root.html" %}{% load staticfiles %}{% load url from future %}{% load i18n %}
{% block body %}
        <h2 class="body-header">{% trans "Client configuration" %}</h2>
        <div class="body-content">
            <h3>Pip</h3>
            <p>{% trans 'Edit <span class="pre">~/.pip/pip.conf</span> to include these lines:' %}</p>
        <pre>[global]
index = {{ base_url }}pypi
index-url = {{ base_url }}simple{% if use_ssl %}
cert = &lt;path to your CA&gt;{% endif %}</pre>
            <h3>Setuptools</h3>

            <p>{% trans 'Edit <span class="pre">~/.pypirc</span> to include these lines:' %}</p>
        <pre>[distutils]
index-servers =
    pythonnest

[pythonnest]
username: your-login
password: your-password
repository: {{ base_url }}setup
</pre>
            <p>{% trans 'Run the following command to register a package to this repository:' %}</p>
            <pre>python setup.py register -r {{ base_url }}setup</pre>
            <p>{% trans 'Run the following command to upload to this repository:' %}</p>
            <pre>python setup.py bdist sdist upload -r {{ base_url }}setup</pre>

            <h3>Easyinstall</h3>
            <p>{% trans 'Edit <span class="pre">~/.pydistutils.cfg</span> to include these lines:' %}</p>
<pre>[easy_install]
index_url = {{ base_url }}simple</pre>

            <h3>VirtualEnvs</h3>
            <p>{% trans 'To easily use virtual environments, adapt and run these lines:' %}</p>
<pre>sudo pip install pip --upgrade
sudo pip install virtualenvwrapper
echo "source /usr/local/bin/virtualenvwrapper.sh" &gt;&gt; ~/.bashrc
source /usr/local/bin/virtualenvwrapper.sh
# {% trans 'create virtual env' %}
mkvirtualenv test
# {% trans 'use virtual env' %}
workon test
</pre>
            <h3>Buildout</h3>
<p>{% trans 'Edit <span class="pre">~/.buildout/default.cfg</span> to include these lines:' %}</p>
        <pre>[buildout]
index = {{ base_url }}simple</pre>

        </div>
{% endblock %}
