{% load staticfiles i18n %}<html>
<head>
    <meta charset="UTF-8">
    <title>{% block pagetitle %}{{ title }}{% endblock %}</title>
    <meta name="author" content="flanker"/>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/root.css' %}"/>
</head>
<body>
{% block blocktitle %}
    <header>
        {% block title %}
            <h1>
                <span id="title"><a href="{% url 'pythonnest.views.index' %}">{{ title }}</a></span>

                {% if user.is_anonymous %}
                    <span class="user login">
                    <a href="{% url 'django.contrib.auth.views.login' %}" class="link"
                       title="{% trans 'Login' %}">⎆</a>
                    <a href="{% url 'pythonnest.views.create_user' %}" class="link" title="{% trans 'Create your account' %}">✍</a>
                </span>
                    {% else %}<span class="user logged">{% trans 'Connected as: ' %}{{ user }}</span>
                    <span class="user logout">
                    <a href="{% url 'django.contrib.auth.views.logout' %}" class="link"
                       title="{% trans 'Logout' %}">✖</a>
                    <a href="{% url 'django.contrib.auth.views.password_change' %}" class="link"
                       title="{% trans 'Change your password' %}">✍</a>
                </span>
                {% endif %}
                <span id="search">
                    <form action="{% url 'pythonnest.views.index' %}" method="GET">
                        <input id="id_search" placeholder="{% trans 'Search' %}" maxlength="255" name="search"
                               type="text"/>
                    </form>
                </span>
            </h1>{% endblock %}</header>
{% endblock %}
{% block blockbody %}
    <article>
        {% block body %}

        {% endblock %}
    </article>
{% endblock %}
{% block blockfooter %}
    <footer>
        {% trans '©2014 flanker.' %}
    </footer>
{% endblock %}
</body>
</html>