html, body, div, p {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 18px;
    color: #fffff0;
    padding: 10px 30px;
    background: #606c88; /* Old browsers */
    background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606c88), color-stop(100%, #3f4c6b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #606c88 0%, #3f4c6b 100%); /* W3C */
    border-bottom: 3px solid #ccccc0;
}

#search {
    float: right;
}

#search form {
    display: inline;
}

#search input {
    border-radius: 10px;
    min-width: 200px;
    border: none;
    padding: 5px;
    background-color: #F0F0F0;
}

article {
    min-width: 700px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

h2.body-header {

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #888888;
    color: #fffff0;
    padding: 4px 40px 4px 40px;
    background: #606c88; /* Old browsers */
    background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606c88), color-stop(100%, #3f4c6b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #606c88 0%, #3f4c6b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#606c88', endColorstr='#3f4c6b', GradientType=0); /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0); /* IE6-9 */
    margin: 50px 0 0;
}

div.body-content {
    border: 1px solid #606c88;
    border-top-style: none;
    margin: 0 0 30px;
    padding: 10px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0); /* IE6-9 */
}

h3 {
    margin: 0;
}

pre {
    border: 1px solid #606c88;
    padding: 4px 20px;
    border-radius: 8px;
background: #fffff0; /* Old browsers */
}