html, body, div, p {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 18px;
    color: #fffff0;
    padding: 10px 30px;
    background: #606c88; /* Old browsers */
    background: -webkit-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* Opera 11.10+ */
    background: linear-gradient(to bottom, #606c88 0%, #3f4c6b 100%); /* W3C */
    border-bottom: 3px solid #ccccc0;
}

h1 a, h1 a:visited {
    color: #fffff0;
    text-decoration: none;
}

#search {
    float: right;
    margin-right: 20px;
}

span.login a.link {
    color: #55aa55;
    font-size: 50px;
}

span.login {
    top: -15px;
    left: 160px;
}

span.user {
    font-weight: lighter;
    position: absolute;
}

span.logout a.link {
    color: #aa5555;
}

span.logout {
    font-size: 25px;
    top: 6px;
    left: 160px;
}

span.logged {
    top: 15px;
    font-size: 12px;
    left: 210px;
}

#search form {
    display: inline;
}

#search input {
    border-radius: 10px;
    min-width: 200px;
    border: none;
    padding: 5px;
    background-color: #F0F0F0;
}

article {
    min-width: 700px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

h2.body-header {
    font-size: 18px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #888888;
    color: #fffff0;
    padding: 4px 40px 4px 40px;
    background: #606c88; /* Old browsers */
    background: -webkit-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* Opera 11.10+ */
    background: linear-gradient(to bottom, #606c88 0%, #3f4c6b 100%); /* W3C */
    margin: 50px 0 0;
}

div.body-content {
    border: 1px solid #606c88;
    border-top-style: none;
    margin: 0 0 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #ffffff; /* Old browsers */
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Opera 11.10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%); /* W3C */
}

div.body-content p {
    padding: 10px;
}

h3 {
    margin: 10px 0 0 0;
    padding-left: 30px;
    color: #fffff0;
    background: #2d2e2d;
    background: -webkit-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
    background: -o-linear-gradient(to bottom, #7d7e7d 0%, #0e0e0e 100%);
    background: linear-gradient(to bottom, #7d7e7d 0%, #0e0e0e 100%); /* W3C */
}

pre {
    border: 1px solid #606c88;
    padding: 4px 20px;
    border-radius: 8px;
    background: #f0f0f0; /* Old browsers */
    color: #3f4c6b;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 14px;
    margin: 0 10px;
}

span.pre {
    color: #3f4c6b;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 14px;
}

blockquote {
    font-style: italic;
    color: #666666;
}

div.body-content ul {
    list-style-type: none;
}

span.link {
    color: #993333;
    font-size: 20px;
}

span.nolink {
    color: #888888;
    font-size: 20px;
}

span.summary {
    color: #666666;
    font-size: 14px;
}

span.download {
    font-size: 14px;
    color: #666666;
}

ul.downloads {
    margin-top: 10px;
}

div.body-content li a, div.body-content li a {
    text-decoration: none;
    color: #555555;
}

div.paginator {
    text-align: center;
    color: #888888;
    font-size: 14px;
}

span.paginator-main {
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
}

div.paginator a, div.paginator a:visited {
    color: #333333;
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    right: 10px;
    text-align: center;
    font-size: 12px;
    color: #7d7e7d;
}

span.helptext {
    font-size: 13px;
    color: #7d7e7d;
    display: block;
    padding-left: 30px;
}

form li input[type="submit"] {
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #888888;
    color: #fffff0;
    padding: 4px 40px 4px 40px;
    background: #606c88; /* Old browsers */
    background: -webkit-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* Opera 11.10+ */
    background: linear-gradient(to bottom, #606c88 0%, #3f4c6b 100%); /* W3C */
    text-align: center;
    margin-left: 150px;
}
ul.errorlist li {
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #888888;
    color: #fffff0;
    padding: 4px 40px 4px 40px;
    background: #993333; /* Old browsers */
    background: -webkit-linear-gradient(top, #aa4444 0%, #993333 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #aa4444 0%, #993333 100%); /* Opera 11.10+ */
    background: linear-gradient(to bottom, #aa4444 0%, #993333 100%); /* W3C */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}